body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
}

#wrap{
  position: relative;
  	width: 1000px;
    height: 1000px;
    top:20px;
    margin: auto;
  	text-align: left;
    background-color: white;
    border: 2px solid black;
}

#header{
  position: relative;
  	width: 800px;
    top:20px;
    margin: auto;
  	text-align: left;
}

#logo{
	width:140px;
	height: 140px;
	float: left;
	padding-right: 20px;
}


#showCart{
	position: relative;
	z-index:1000;
	width:60px;
	height:60px;
	/**
	background-color: #008CBA;
	color:white;
	**/
	padding:10px;
	text-align: center;
	margin-left: 520px;
	margin-top: 10px;
	/**
	border-radius: 12px;
	**/
}

/**
#showCart:hover{
	cursor: pointer;
	background-color: white;
	color:black;
	border: 2px solid #008CBA;
}

**/

#welcomeBanner{
	width:600px;
	height: 140px;
	background-color: #b3ffff;
	float: right;
}

#mainContent{
  position: relative;
  width: 800px;
  top:40px;
  margin: auto;
  text-align: left;
}

#navigationMenu{
	width:160px;
	height: 1000px;
	font-size: 30px;
	padding: 0px;
	float: left;
	margin-right: 20px;
}

.menuButton{
	background-color: #b3ffff;
	padding:10px;
	text-align: center;
}

.menuButton:hover{
	color:white;
	background: #00b3b3;
	font-style: oblique;
}

#productList{
	width:900px;
}

li.product {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
		height: 120px;
		padding: 10px;
		margin: 20px;
}

.productImg {
		/*position: absolute;*/
		margin-top: -100px;
    width: 100px;
    height: 100px;
}
.caption {
    display: block;
}

.hideText{
	position: absolute;
	color:white;
	/*top:110px;*/
  display: none;
	width: 100px;
	text-align: center;
	margin-top: 80px;
	margin-left: 10px;
}

.product:hover .hideText {
    display:block;
		background-color: grey;
	}

.product:hover .cart{
	visibility: visible;
}

.cart{
	background: rgba(204, 204, 204, 0.7);
	visibility:hidden;
	position:relative;
	width: 100px;
	height: 80px;
}

.product:hover{
	background-color: #e0e0d1;
}

.addButton{
	position:relative;
	font-size: 12px ;
	top:-40px;
	background-color: #57d6c7;
	font-weight: bold;
	color: white;
	cursor: pointer;
	visibility:hidden;
}
.removeButton{
	position:relative;
	font-size: 12px ;
	top:-40px;
	background-color: #F36C8C;
	font-weight: bold;
	color: white;
	cursor: pointer;
	visibility: hidden;
}

.product:hover .addButton{
	visibility: visible;
}

.product:hover .removeButton{
	visibility: visible;
}

#footer {
  position: absolute;
  right: 15px;
  left: 15px;
  padding: 1rem;
  background-color: #b3ffff;
  text-align: center;
}
