body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
}

#wrap{
  position: relative;
  	width: 1000px;
    height: 1000px;
    top:20px;
    margin: auto;
  	text-align: left;
    background-color: white;
    border: 2px solid black;
}

#header{
  position: relative;
  	width: 800px;
    top:20px;
    margin: auto;
  	text-align: left;
}

#logo{
	width:140px;
	height: 140px;
	float: left;
	padding-right: 20px;
}

/*.button1 {
    background-color: white;
    color: black;
		font-size: 20px;
		padding:10px;
    border: 1px solid black;
}*/

#cartTotal{
	position: relative;
	z-index:1;
	width:150px;
	height:30px;
	background-color: #008CBA;
	font-size: 18px;
	text-align: center;
	margin-left: 500px;
	margin-top: 20px;
	border-radius: 12px;
}

#checkOut{
	position: relative;
	margin-left: 470px;
}
/**
#showCart:hover{
	cursor: pointer;
	background-color: white;
	color:black;
	border: 2px solid #008CBA;
}

**/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
		margin: 50% auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
		overflow: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 5px 0;
}

#welcomeBanner{
	width:600px;
	height: 140px;
	background-color: #b3ffff;
	float: right;
}

#mainContent{
  position: relative;
  width: 800px;
  top:40px;
  margin: auto;
  text-align: left;
}

#navigationMenu{
	width:160px;
	height: 1000px;
	font-size: 30px;
	padding: 0px;
	float: left;
	margin-right: 20px;
}

.menuButton{
	background-color: #b3ffff;
	padding:10px;
	text-align: center;
}

.menuButton:hover{
	color:white;
	background: #00b3b3;
	font-style: oblique;
}

#productList{
	width:900px;
}

li.product {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
		height: 130px;
		padding: 10px;
		margin: 20px;
}

.productImg {
		/*position: absolute;*/
		margin-top: -110px;
    width: 100px;
    height: 100px;
}
.caption {
    display: block;
}

.hideText{
	position: absolute;
	color:white;
	/*top:110px;*/
  display: none;
	width: 100px;
	text-align: center;
	margin-top: 80px;
	margin-left: 10px;
}

.product:hover .hideText {
    display:block;
		background-color: grey;
	}

.product:hover .cart{
	visibility: visible;
}

.cart{
	background: rgba(204, 204, 204, 0.7);
	visibility:hidden;
	position:relative;
	width: 100px;
	height: 80px;
}

.product:hover{
	background-color: #e0e0d1;
}

.addButton{
	position:relative;
	font-size: 12px ;
	top:-45px;
	background-color: #57d6c7;
	font-weight: bold;
	color: white;
	cursor: pointer;
	visibility:hidden;
}

.outOfStock{
	position:relative;
	font-size: 12px ;
	top: -55px;
	background-color: #57d6c7;
	font-weight: bold;
	color: white;
	cursor: pointer;
	visibility:hidden;
}

.hideOutOfStock{
	visibility: hidden;
}

.hideAddButton {
	visibility: hidden;
}

.removeButton{
	position:relative;
	font-size: 12px ;
	top:-45px;
	background-color: #F36C8C;
	font-weight: bold;
	color: white;
	cursor: pointer;
	visibility: hidden;
}

.hideRemoveButton{
	visibility: hidden;
}

.product:hover .addButton{
	visibility: visible;
}

.product:hover .outOfStock{
	visibility: visible;
}




.product:hover .removeButton{
	visibility: visible;
}

#inactiveTimeDisplay{
	margin-left: 200px;
}

#contactInfo{
	  text-align: center;
		margin-left: 250px;
}

#footer {
  position: absolute;
  right: 15px;
  left: 15px;
  padding: 0.5rem;
  background-color: #b3ffff;
}
