body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
}

#wrap{
  position: relative;
  	width: 1000px;
    height: 1000px;
    top:20px;
    margin: auto;
  	text-align: left;
    background-color: white;
    border: 2px solid black;
}

#header{
  position: relative;
  	width: 800px;
    top:20px;
    margin: auto;
  	text-align: left;
}

#logo{
	width:140px;
	height: 140px;
	float: left;
	padding-right: 20px;
}

#welcomeBanner{
	width:600px;
	height: 140px;
	background-color: #b3ffff;
	float: right;
}

#mainContent{
  position: relative;
  width: 800px;
  top:40px;
  margin: auto;
  text-align: left;
}

#navigationMenu{
	width:160px;
	height: 1000px;
	font-size: 30px;
	padding: 0px;
	float: left;
	margin-right: 20px;
}

.menuButton{
	background-color: #b3ffff;
	padding:10px;
	text-align: center;
}

.menuButton:hover{
	color:white;
	background: #00b3b3;
	font-style: oblique;
}

#productList{
	width:900px;
}

li.product {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
		height: 120px;
		padding: 10px;
		margin: 20px;
}
img {
    width: 100px;
    height: 100px;
}
.caption {
    display: block;
}

#hideText{
	position: absolute;
	color:white;
	/*top:110px;*/
  display: none;
	width: 100px;
	text-align: center;
	margin-top: 80px;
	margin-left: 10px;
}

#item:hover #hideText {
    display:block;
		background-color: grey;
	}

#item:hover{
	background-color: #e0e0d1;
}

#footer {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 1rem;
  background-color: #b3ffff;
  text-align: center;
}
